body{
  font-family:'Montserrat-thin',sans-serif;
}

#title{
  background-color:#ff4c68;
  color: #fff;
  padding-bottom:80px;
}
.container-fluid{
  padding:3% 15%;
}
/* Headings Section */
h1{
  font-family: 'Montserrat', sans-serif;
  size:3.5rem;
  line-height: 1.5;
}
h2{
  font-family:"Montserrat";
  font-size: 2.5rem;
  line-height: 1.5;
  font-weight:500;

}
h3{
  font-family: 'Montserrat',sans-serif;
}
p{
  color:#8f8f8f;
}
/* navigation bar */
.navbar{
  padding:1rem 0 4.5rem;
}
.navbar-brand{
  font-family:'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item{
  padding:0 18px;
}
.nav-link{
  font-family: 'Montserrat-light';
  font-size: 1.5rem;
}
.btn{
  margin: 5% 3% 5% 0;
}
/* title image */
.title-image{
  width:50%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;

}
/* Features section */
#features{
  padding: 7% 15%;
  background-color: #fff;
  position:relative;
}
.feature-box{
  text-align: center;
  padding: 4.5%;

}
.icon{
  color:#ef8172;
  margin-bottom: 1rem;
}
.icon:hover{
  color:#ff4c68;
}
/* testimonial section */
#testimonials{
  color: #fff;
  text-align: center;
  background-color: #ef8172;
}
.carousel-item{
  padding: 7% 15%;
}
.testimonial-image{
  width:10%;
  border-radius:100%;
  margin:1rem;
}
#press{
  text-align: center;
  background-color: #ef8172;
  padding-bottom: 3%;
}
.press-logo{
  width:10rem;
  margin: 20px 20px 50px;
}
/* Pricing section */
#pricing{
  padding:100px;
  padding-bottom:50px;
  text-align: center;
}
.pricing-col{
  padding:3% 2%;
}
/* CTA SECTION */
.cta1-heading{
  font-size: 3rem;
  line-height: 1.5;
}
#cta{
  padding: 7% 15%;
  background-color:#ff4c68;
  text-align: center;
  color: #fff;
  font-family: "Montserrat-thin";

}
/* Footer-section */
#footer{
  text-align: center;
  background-color: #fff;
  padding: 5% 10%;
}
.foot-icons{
  margin:10px;
}
@media (max-width:1080px){
  #title{
    text-align: center;
  }
  .title-image{
    position: static;
    transform: rotate(0);
  }
  #cta{
    text-align: center;
  }
  .cta1-heading{
    //font-size: 2rem;
  }
}
